@font-face {
    font-family:intro-cond;
    src: url(/static/intro-cond-light-free.otf);
}
@font-face {
    font-family:comfortaa;
    src: url(/static/comfortaa/Comfortaa_Regular.ttf);
}
@font-face {
    font-family:comfortaa;
    src: url(/static/comfortaa/Comfortaa_Thin.ttf);
}
@font-face {
    font-family:comfortaa;
    src: url(/static/comfortaa/Comfortaa_Bold.ttf);
    font-weight: bold;
}
html, body {
    width:100%;
    margin:0;
    padding:0;
    font-family:Arial;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

#section-home {
    overflow:auto;
    z-index:10;
    height:600px;
    margin:0 auto 0 auto;
    background-image:url(/static/topbg.png);
    background-repeat:repeat-y;
    background-position:center top;
}
    #section-home-inner {
        overflow: auto;
        height:600px;
        background-image:url(/static/bgwithbox.png);
        background-position:center top;
        background-repeat:no-repeat;
    }
    #nav-top {
        overflow: auto;
        margin:10px 0 0 10px;   
    }
    .nav a{
        color:#333366;
        font-size:12px;
    }
    #nav-top a{
        display:inline-block;
        float:left;
    }
    #nav-bottom a{
        display:inline-block;
        float:right;
    }
    .nav-about{
        margin:0 5px 0 5px;
        padding:0 5px 0 5px;
        border-right:1px solid #333366;
        border-left:1px solid #333366;
    }
    #ks-main-logo-outer{
        overflow:auto;
        height:151px;
        width:151px;
        text-align:center;
        margin:10px auto 0 auto;
        background-image:url(/static/kslogo.png);
        background-position:center top;
        background-repeat:no-repeat;
    }
    #ks-main-logo{
        font-family:comfortaa;
        font-size:22px;
        font-weight: normal;
        letter-spacing:2px;
        color:#fff;
        margin:64px auto 0 auto;
        padding-left:3px;
    }
    #skill-tags {
        margin:90px auto 0 auto;
        max-width:600px;
    }
    #skill-tags p {
        text-align: center;
        width:100%;
        margin:0 0 8px 0;
        color:#fff;
        font-size:30px;
        font-style:italic;
    }

#section-about {
    overflow-x:hidden;
    overflow-y:auto;
    background-color:#FFF2CF;
    background-image:url(/static/trianglebg.png);
    background-position:right center;
    background-repeat:no-repeat;
}
    #s2-inner {
        overflow:auto;
        max-width:900px;
        height:600px;
        margin:0 auto 0 auto;
    }
    #about-box {
        float:left;
        overflow:visible;
        margin:20px 0 0 10px;
        width:560px;
        height:560px;
        background-image:url(/static/circle.png);
    }
    #contact-title {
        margin:50px 0 0 70px;
        font-family:comfortaa;
        font-size:72px;
        font-weight:normal;
        color:#333366;
    }
    #about-title {
        margin:50px 0 0 70px;
        font-family:comfortaa;
        font-size:72px;
        font-weight:normal;
        color:#333366;
    }
    #about-text {
        max-width:400px;
        margin:20px 20px 0 70px;
        font-size:14px;
    }
    #about-salutation {
        margin:0 0 25px 0;
    }
    #about-closing-tag {
        margin:25px 0 0 0;
    }

#section-contact {
    height:600px;
    background-color:#FFFFCC;
}
    #section-contact-inner {
        overflow:auto;
        max-width:900px;
        height:600px;
        margin:0 auto 0 auto;
    }
    #contact-form {
        max-width:800px;
        overflow:visible;
    }
    #contact-form-left {
        float:left;
        margin:0 10px 0 0;
    }
    #contact-form-right {
        float:left;
    }
    .input-outer {
        margin:0 0 10px 0;
    }
    #contact-note {
        margin: 20 20px 0 70px;
        max-width:700px;
    }
    #contact-note p {
        font-size:14px;
        color:#333366;
    }
    #contact-form {
        margin:20px 20px 0 70px;
    }
    .contact-form-input {
        font-size: 12px;
        height:30px;
        width:350px;
        padding:5px;
        border:2px solid #fff;
    }
    #contact-message {
        height:110px;
        width:350px;
        padding:5px;
        border:none;
        float:left;
    }
    #btn-send-inquiry {
        float:right;
        margin:10px 0 0 0;
        width:100px;
        color:#fff;
        padding:5px;
        border:none;
        background-color: #333366;
        cursor:pointer;
    }

#contact-response {
    margin: 20 20px 0 70px;
    max-width:700px;
    color:#333366;
}
    #contact-response-page #nav-top {
        background-color: #ffffcc;
        margin:0;
        padding:10px 0 0 10px;
        overflow:auto;
    }

    #salutation {
        margin:10px 0 35px 0;
    }

    #regards {
        margin:35px 0 10px 0;
    }

#section-footer {
    height:300px;
    background-color:#CCFFFF;
}
    #footer-inner {
        overflow:auto;
        max-width:900px;
        height:300px;
        margin:0 auto 0 auto;
    }
    #company-address {
        margin:50px 0 0 70px;
        font-size:14px;
        color:#003333;
    }
    #company-address p {
        margin:0 0 2px 0;
        color:#003333;
        font-size:12px;
    }
    #footer-bottom {
        margin: 50px 0 0 70px;
        max-width:710px;
    }
    #footer-bottom-right {
        float:right;
        font-size:12px;
        margin:0 10px 0 0;
    }
    #footer-bottom-left {
        float:left;
        font-size:12px;
        margin:0 10px 0 0;
    }