<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css"> 
    </head>
    <body id='contact-response-page'>
        <div id='nav-top' class='nav'>
            <a class='nav-home' href='/#home'>HOME</a>
            <a class='nav-about' href='/#about'>ABOUT</a>
            <a class='nav-contact' href='/#contact'>CONTACT</a>
        </div>
        <div id='section-contact'>
            <div id='section-contact-inner'>
                <h2 id='contact-title'>Thank you!</h2>
                <div id='contact-response'>
                    <p id='salutation'>Dear {{ contact_name }},</p>
                    <p>We are delighted to receive your inquiry.</p>
                    <p>A member of our team will contact you soon to discuss your requirements.</p>
                    <p id='regards'>Kind regards</p>
                    <p>The Keplarsoft team.</p>
                </div>
            </div>
        </div>
        <div id='section-footer'>
            <div id='footer-inner'>
                <div id='company-address'>
                    <p>Keplarsoft Ltd.</p>
                    <p>20 Broadwick Street</p> 
                    <p>London</p>
                    <p>W1F 8HT</p> 
                    <p>England</p>
                </div>
                <div id='footer-bottom'>
                <div id='footer-bottom-left'>Keplarsoft © 2015 | Registered company number: number 03360519</div>
                    <div id='footer-bottom-right'>
                        <div id='nav-bottom' class='nav'>
                            <a class='nav-contact' href='/#contact'>CONTACT</a>
                            <a class='nav-about' href='/#about'>ABOUT</a>
                            <a class='nav-home' href='/#home'>HOME</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
