<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css"> 
    </head>

    <body>
        <div id='s1-left'></div>
        <div id='s1-right'></div>
        <div id='section1'>
            <div id='nav-top' class='nav'>
                <a class='nav-home' href='#home'>HOME</a>
                <a class='nav-about' href='#about'>ABOUT</a>
                <a class='nav-contact' href='#contact'>CONTACT</a>
            </div>
            <div id='ks-main-logo-outer'>
                <img id='ks-logo-orbit-above' alt='o' src='/static/orbit1.png'/>
                <div id='ks-main-logo'>Keplarsoft</div>
                <img id='ks-logo-orbit-below' alt='o' src='/static/orbit1.png'/>
            </div>
            <div id='skill-tags'>
                <p>SOFTWARE</p>
                <p>DESIGN</p>
                <p>WEB</p>
                <p>MOBILE</p>
                <p>DESKTOP</p>
            </div>
        </div>
        <div id='section-about'>
            <div id='s2-inner'>
                <div id='about-box'>
                    <h2 id='about-title'>About</h2>
                    <div id='about-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Donec a finibus nisi. Proin eu efficitur ligula. Donec 
tempor lorem id turpis tempor, eu accumsan est portti-
tor. Praesent finibus sit amet mi id ullamcorper. Donec 
sit amet arcu enim. In convallis velit non risus consecte-
tur, eget molestie nisi ornare. Aliquam vel faucibus 
lectus. In pellentesque quam eu orci ullamcorper, ac 
fringilla urna cursus. Nullam cursus mauris dolor, a 
euismod justo rutrum sit amet. Nunc porttitor justo 
mauris, a hendrerit velit dignissim et. Praesent ligula 
odio, convallis eget luctus quis, maximus eget sem. 
Nulla dapibus sagittis faucibus. Suspendisse non dapi-
bus nunc. Sed ut dignissim turpis, vel finibus tortor. Sed 
gravida enim tortor, eget pharetra est vulputate vel. 
Pellentesque nec condimentum tellus, at tempor ante. 
Aliquam id aliquam enim. Aliquam pellentesque sollici-
tudin ipsum, sed hendrerit lectus luctus dictum. 
Quisque in quam efficitur, molestie lorem id, vulputate 
lacus. Praesent at nibh egestas, ultricies lectus at, laoreet arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
                    </div>
                </div>
                <div id='about-triangle'></div>
            </div>
        </div>
        <div id='section-contact'>
            <div id='section-contact-inner'>
                <h2 id='contact-title'>Contact</h2>
                <p id='contact-note'>Want to know how we can help you create something amazing?<br/>Send us a message with your thoughts, ideas, requirements and questions...<p>
                <form id='contact-form'>
                    <div id='contact-form-left'>
                        <div class='input-outer'>
                            <input id='contact-name' type='text' placeholder='NAME' class='contact-form-input'/>
                        </div>
                        <div class='input-outer'>
                            <input id='contact-email' type='text' placeholder='EMAIL' class='contact-form-input'/>
                        </div>
                        <div class='input-outer'>
                            <input id='contact-telephone' type='text' placeholder='TELEPHONE' class='contact-form-input'/>
                        </div>
                    </div>
                    <div id='contact-form-right'>
                        <div class='input-outer'>
                            <textarea id='contact-message' placeholder='YOUR MESSAGE HERE' class='contact-form-input'></textarea>
                        </div>
                        <button id='btn-send-inquiry'>SEND</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='section-footer'>
            <div id='footer-inner'>
                <div id='company-address'>
                    <p>Keplarsoft Ltd.</p>
                    <p>20 Broadwick Street</p> 
                    <p>London</p>
                    <p>W1F 8HT</p> 
                    <p>England</p>
                </div>
                <div id='footer-bottom'>
                <div id='footer-bottom-left'>Keplarsoft © 2015 | Registered company number: number 03360519</div>
                    <div id='footer-bottom-right'>
                        <div id='nav-bottom' class='nav'>
                            <a class='nav-contact' href='#contact'>CONTACT</a>
                            <a class='nav-about' href='#about'>ABOUT</a>
                            <a class='nav-home' href='#home'>HOME</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
