<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/static/main.css"> 
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <div id='section-home'>
            <div id='section-home-inner'>
                <div id='nav-top' class='nav'>
                    <a class='nav-home' href='#home'>HOME</a>
                    <a class='nav-about' href='#about'>ABOUT</a>
                    <a class='nav-contact' href='#contact'>CONTACT</a>
                </div>
                <div id='ks-main-logo-outer'>
                    <div id='ks-main-logo'>Keplarsoft</div>
                </div>
                <div id='skill-tags'>
                    <p>SOFTWARE</p>
                    <p>DESIGN</p>
                    <p>WEB</p>
                    <p>MOBILE</p>
                    <p>DESKTOP</p>
                </div>
            </div>
        </div>
        <div id='section-about'>
            <div id='s2-inner'>
                <div id='about-box'>
                    <h2 id='about-title'>About</h2>
                    <div id='about-text'>
                        <p id='about-salutation'>Dear Visitor,</p>
                        <p>At Keplarsoft our mission is to deliver high quality digital solutions that add value, solve problems and help you achieve and exceed your goals.  
                        </p>
                        <p>
                        Whether that means creating a memorable web experience to engage  users, a functional application to harness the power of data, an e-commerce site to drive business, or simply a beautiful design to convey the right message, we are here to build the perfect product for you.
                        </p>
                        <p>
                        With a team comprising high calibre skills in software development, user experience and graphic design, we combine elegance and creativity with a technical pragmatic approach.
                        </p>
                        </p>
                        If you're looking to bring your ideas to life, look no further!
                        </p>
                        <p>
                        We would love to hear from you.
                        </p>
                        <p id='about-closing-tag'>
                        The Keplarsoft Team.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id='section-contact'>
            <div id='section-contact-inner'>
                <h2 id='contact-title'>Contact</h2>
                <div id='contact-note'>
                    <p>Want to know how we can help you create something amazing?</p>
                    <p>Send us a message with your ideas, requirements and questions...</p>
                </div>
                <form id='contact-form' action='/contact-msg' method='post'>
                    <div id='contact-form-left'>
                        <div class='input-outer'>
                            <input id='contact-name' name='contact-name' type='text' class='contact-form-input' placeholder='NAME'/>
                        </div>
                        <div class='input-outer'>
                            <input id='contact-email' name='contact-email' type='text' class='contact-form-input' placeholder='EMAIL'/>
                        </div>
                        <div class='input-outer'>
                            <input id='contact-telephone' name='contact-telephone' type='text' class='contact-form-input' placeholder='TELEPHONE'/>
                        </div>
                    </div>
                    <div id='contact-form-right'>
                        <div class='input-outer'>
                            <textarea id='contact-message' name='contact-message' class='contact-form-input' placeholder='YOUR MESSAGE HERE'></textarea>
                        </div>
                        <button id='btn-send-inquiry'>SEND</button>
                    </div>
                </form>
            </div>
        </div>
        <div id='section-footer'>
            <div id='footer-inner'>
                <div id='company-address'>
                    <p>Keplarsoft Ltd.</p>
                    <p>71-75 Shelton Street</p> 
                    <p>Covent Garden</p>
                    <p>London</p> 
                    <p>WC2H 9JQ</p>
                </div>
                <div id='footer-bottom'>
                <div id='footer-bottom-left'>Keplarsoft © 2015 | Registered company number: 9408763</div>
                    <div id='footer-bottom-right'>
                        <div id='nav-bottom' class='nav'>
                            <a class='nav-contact' href='#contact'>CONTACT</a>
                            <a class='nav-about' href='#about'>ABOUT</a>
                            <a class='nav-home' href='#home'>HOME</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </body>

<script type='text/javascript'>

    $( document ).ready( function() {
        var urlHash = window.location.hash;
        if(urlHash.length >= 1) scrollToSection(urlHash);
    })

    function scrollToSection(hash){
        var elemId = '#section-' + hash.replace('#','');
        $('html, body').animate({
            scrollTop: $(elemId).offset().top
        }, 1000);
    }

    $(".nav-home").click(function() {
        scrollToSection("home");
    });

    $(".nav-about").click(function() {
        scrollToSection("about");
    });

    $(".nav-contact").click(function() {
        scrollToSection("contact");
    });

</script>

</html>
